/* APP BLOCKS */
#preview{
	background: #fff;
	position: relative;
	width: 100%;
	height: 100%;
}

#menus-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgba(127, 140, 141,1.0);
	color: white;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 0px;
	height: 27px;
}
#menus-bar .menu{
	padding: 5px;
	padding-right: 8px;
	padding-left: 8px;
	border-right: none;
}
#menus-bar .menu h2{
	font-size: 14px;
	font-weight: lighter;
	cursor: pointer;
}

#bottom-toolbar{
	background: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #d2d2d2;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

#bottom-toolbar .tabs input{
	float: right;
	padding: 5px;
	padding-right: 20px;
	padding-left: 8px;
	font-size: 14px;
	background: white;
	border: none;
	margin-right: 5px;
	background: url(../Media/Image/loupe.png) center right no-repeat;
	background-size: 20px 20px;
}

.tabs {
	color: grey;
	border-bottom: 1px solid #E9E9E9;
	font-size: 0px;
	height: 27px;
}

.tabs .tab{
	padding: 5px;
	padding-right: 8px;
	padding-left: 8px;
}

.tabs .tab h2 {
	font-size: 14px;
	font-weight: lighter;
	cursor: pointer;
}

.tabs .tab h2:hover {
	opacity: 0.6;
}

.tabs .tab.active{
	padding-bottom: 4px;
	color: rgba(230, 126, 34,1.0);
	border-bottom: 3px solid rgba(230, 126, 34,1.0);
}

#right-toolbar{
	background: white;
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 200px;
	border-left: 1px solid #d2d2d2;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}



/* ARROWS OPEN/CLOSE */
.close, .open{
	display: inline-block;
	height: 26px;
	width: 26px;
}

.close img, .open img{
	height: 26px;
	width: 26px;
}

.close:hover, .open:hover{
	cursor: pointer;
	opacity: 0.6;
}



/* ELEMENTS */
#elements {
	padding-top: 1px;
}

.element{
	border-radius: 2px;
	position: relative;
	background: white;
	display: inline-block;
	width: 70px;
	height: 70px;
	background: #c0e3f0;
	border: 1px solid #00b1d5;
	margin: 5px;
	color: #00b1d5;

	vertical-align: top;
	text-align: center;

	cursor: move;
}

.elementHidden{
	position: absolute;
	top: -1px;
	left: -1px;

	border-radius: 2px;
	background: #c0e3f0;
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #00b1d5;
	color: #00b1d5;

	vertical-align: top;
	text-align: center;
	overflow: hidden;

	cursor: move;
}

.element:hover{
	background: #00b1d5;
	color: white;
}

.elementHidden:hover{
	background: #00b1d5;
	color: white;
}


/* INSPECTOR */
#properties h2{
	margin: 10px;
	color: grey;
}
#properties .container{
	padding: 2px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f8fafa;
	font-size: 0px;
}

#properties .container h3{
	font-size: 12px;
}

.propertiesContainer span.label{
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 40%;
	vertical-align: middle;
	padding: 5px;
	font-size: 11px;
}
.propertiesContainer input.propertyInput{
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 60%;
	vertical-align: middle;
	padding: 2px;
	border-radius: 2px;
	border: 1px solid #ccc;

	font-size: 11px;
}