#preview{
	border: 1px dashed #e2e2e2;
	margin: 5px;
}
#preview *:hover{
	border: 1px dashed gray;

	cursor: pointer;
}
#preview *.deleteElement{
	display: block;
	float: left;
	margin: 0px 10px 0 5px;
	background: #444;
	padding: 3px;

	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;

	font-size: 12px;
	font-family: verdana;
	color: #fff;
}
#preview *.draghover{
	border: 1px dashed gray;
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }


#nwgrip, #negrip, #swgrip, #segrip, #ngrip, #egrip, #sgrip, #wgrip {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
#nwgrip {
    left: -5px;
    top: -5px;
    cursor: nwse-resize !important;
}
#negrip{
     top: -5px;
     right: -5px;
     cursor: nesw-resize !important;
}
#swgrip{
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize !important;
}
#segrip{
     bottom: -5px;
    right:-5px;
    cursor: nwse-resize !important;
}
#ngrip{
    top: -5px;
    left:50%;
    cursor:ns-resize !important;
}
#sgrip{
     bottom: -5px;
    left: 50%;
    cursor:ns-resize !important;
}
#wgrip{
     left:-5px;
     top:50%;
     cursor:ew-resize !important;
}
#egrip{
     right:-5px;
     top:50%;
     cursor:ew-resize !important;
}